<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Fhu Nypel Usługi Hydrauliczne Łukasz Szydliński
ul. Cieszkowskiego 4/27, 41-303 Dąbrowa Górnicza
698 095 573
http://Hydraulikdabrowagornicza.com
brak
Link do mapy
<a th:href="@{'https://magdalenadrozdz.github.io/ppkwu4/cardUser0.vcf'">
    <span>Link do vcard</span>
</a>

Hydraulika Montaż Instalacji Sanitarnych i Grzewczych Robert Rosłoniec
ul. Wierzbowa 12, 05-503 Robercin
501 083 795
http://www.uslugihydraulicznepiaseczno.pl
rrrobert@vp.pl
Link do mapy
<a th:href="@{'https://magdalenadrozdz.github.io/ppkwu4/cardUser1.vcf'">
    <span>Link do vcard</span>
</a>
Kamil Przęczek
32-020 Grabówki 12
516 765 572
http://www.hydraulik-instalacje-krakow.pl
kamilprzeczek@interia.pl
Link do mapy
<a th:href="@{'https://magdalenadrozdz.github.io/ppkwu4/cardUser2.vcf'">
    <span>Link do vcard</span>
</a>

Adam Kołota Udrażnianie rur
ul. Zaciszna 30A, 05-230 Kobyłka
781 266 854
http://www.udraznianierurkobylka.pl
joanna-kolota@wp.pl
Link do mapy
<a th:href="@{'https://magdalenadrozdz.github.io/ppkwu4/cardUser3.vcf'">
    <span>Link do vcard</span>
</a>

</body>
</html>