<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <div th:each="user : ${users}">
        <div th:text="${user.getName()}" ></div>
        <div th:text="${user.getAddress()}"></div>
        <div th:text="${user.getNumber()}"></div>
        <div th:text="${user.getWeb()}"></div>
        <div th:text="${user.getMail()}"></div>
        <div >
            <a th:href="@{/}">
                <span>Wygeneruj vCard</span>
            </a>
        </div>
        </br>
    </div>
</body>
</html>