<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <div th:each="user : ${users}">
        <div th:text="${user.getName()}" ></div>
        <div th:text="${user.getAddress()}"></div>
        <div th:text="${user.getNumber()}"></div>
        <div th:text="${user.getWeb()}"></div>
        <div th:text="${user.getMail()}"></div>
        <a th:href="@{'https://www.google.com/maps/search/?api=1&query=' + ${user.getSzer()}+','+ ${user.getDlug()}}">
            <span>Link do mapy</span>
        </a>
        <div >
            <a th:href="@{'/card/' + ${user.toString()}}">
                <span>Wygeneruj vCard</span>
            </a>
        </div>

        </br>
    </div>
    </br>
    <div >
        <a th:href="@{/users/next}" th:object="${data}" method="get">
            <span>Next</span>
        </a>
    </div>
</body>
</html>